.content {
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100%;
  background: #0f2027;
  background: -webkit-linear-gradient(45deg, #0f2027, #203a43, #2c5364);
  background: linear-gradient(45deg, #203a43, #0f2027, #2c5364);
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}

.main {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 7;
  border: 1px solid #cccccc;
  color: white;
}

.leftsidebar {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  /* text-align: center; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #000000;
  /* background: linear-gradient(45deg, #000000, #152331); */
  flex: 1;
  border: 1px solid #cccccc;
  /* padding: 2rem; */
}

.icon {
  /* flex: 1; */
  justify-content: center;
  margin: auto;
}

.rightsidebar {
  color: #fff;
  text-align: center;
  padding: 10px;
  background: #152331;
  /* background: linear-gradient(45deg, #000000, #152331); */
  flex: 1;
  border: 1px solid #cccccc;
}
