.navContainer {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  font-size: 1.1rem;
  margin: 0 0.5rem;
}

a:hover {
  color: #cce0e9 !important;
}

a:focus,
a:active {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  color: #fff;
  padding: 1rem 1.6rem;
  background: linear-gradient(45deg, #000000, #152331);
}

@media (max-width: 750px) {
  .navbar {
    background: #000000;
  }
}
